.featured {
    max-width: var(--container-width);
    margin: 0 6.25rem;
  }
  
  .featured-title {
    font-family: var(--font-primary);
    font-size: 32px;
    color: var(--color-primary);
    margin-bottom: 40px;
    font-weight: 100;
  }
  
  .featured-title span {
    color: var(--color-primary);
    font-weight: 900;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .product-card {
    width: 18.4375rem;
    height: 28.0625rem;
    padding: 20px;
    border: 1px solid var(--color-primary-opacity-light);
    border-radius: 10px;
    text-align: left;
  }

  .image-container {
    width: 200px;
    height: 200px;
    padding: 45px;
    overflow: hidden;
  }
  
  .product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .rating {
    margin-bottom: 10px;
  }
  
  .star {
    color: #FFD700;
    margin: 0 2px;
  }
  
  .product-card h3 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px;
    color: var(--color-text);
  }
  
  .price {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .original-price {
    color: #888;
    text-decoration: line-through;
    font-size: 14px;
  }
  
  .sale-price {
    color: var(--color-secondary);
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  @media (max-width: 1200px) {
    .products-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .products-grid {
      grid-template-columns: 1fr;
    }
  }
  