  .newsletter {
    background-color: var(--color-primary);
    padding: var(--spacing-lg);
    text-align: left;
    margin: 0 auto;
    font-family: var(--font-primary);
  }
  
  .newsletter h2 {
    max-width: 11.875rem;
    color: var(--color-white);
    font-size: 20px;
    margin-bottom: var(--spacing-md);
    font-weight: 700;
  }
  
  .newsletter-form {
    margin: 0 6.25rem;
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
  }
  
  .newsletter-form input {
    width: 25rem;
    height: 3rem;
    flex: 1;
    padding: 0 0.8rem;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    background: transparent;
    color: var(--color-white);
    font-family: var(--font-primary);
  }
  
  .newsletter-form input::placeholder {
    color: var(--color-white);
  }
  
  .submit-btn {
    width: 10rem;
    height: 3rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--font-primary);
    font-weight: 700;
    text-transform: uppercase;
  }
  