
  .benefits {
    display: flex;
    justify-content:space-around;
    padding: 2rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    margin: calc(-8rem / 2) 6.25rem 0 6.25rem;
    border-radius: 10px;
  }
  
  .benefit-item {
    width: 13.375rem;
    height: 2.625rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-primary);
    font-family: var(--font-primary);
    position: relative;
  }
  
  .benefit-icon {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    color: var(--color-primary);
  }
  
  .benefit-item img {
    width: 24px;
    height: 24px;
  }